* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-weight: 500;
    color: #061826;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: lightgray;
    color: #061826;
    padding: 25px;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hidden-button {
    border: none;
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    cursor: text;
}

#initial-password-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-left 500ms;
}

/* WHICH TEST SHOULD I USE? */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 120px);
}

#main-container {
    margin-left: -1000px;
    transition: margin-left 500ms;
}

.container {
    width: 65%;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 25px;
}

.container h2 {
    font-weight: 500;
    padding-bottom: 8px;
}

.container .top {
    padding-bottom: 15px;
}

.changeable-text {
    background-color: lightgray;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

#choices input, #choices label {
    margin-bottom: 10px;
    cursor: pointer;
}

input[type='radio'] {
    accent-color: #ff521b;
}

#form-buttons {
    display: flex;
    align-items: center;
}

#response {
    margin-top: 12px;
    padding-left: 15px;
    font-size: 0.9rem;
    color: darkgray;
}

form button {
    margin-top: 15px;
    border-radius: 5px;
    background-color: #ff521b;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: filter 400ms;
}

#skip-button {
    background-color: #f18805;
    margin-left: 5px;
}

form button:hover {
    filter: brightness(0.85);
}

/* PASSWORD PAGE */

#password-page {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(63,64,251);
    background: radial-gradient(circle, rgba(63,64,251,1) 0%, rgba(6,24,38,1) 100%);
    transition: left 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    transition: margin-right 500ms;
}

#password {
    padding: 8px 15px;
    border: 3px solid #061826;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 300px;
    height: 45px;
    outline-color: #ff521b;
    outline-offset: 3px;
    outline-width: thick;
    border-radius: 5px;
}

#initial-password {
    padding: 8px 15px;
    border: 1px solid lightgray;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 300px;
    height: 45px;
    outline-color: #ff521b;
    outline-offset: 3px;
    outline-width: thick;
    border-radius: 5px;
}

.password-enter {
    height: 45px;
    width: 65px;
    border: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #f18805;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: filter 400ms;
    margin-left: 12px;
}

.password-enter:hover {
    filter: brightness(0.85);
}

/* SECRET PAGE */

#secret-page {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    color: white;
    transition: left 500ms;
    overflow-y: scroll;
    background-position: fixed;
}

#back {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 65px;
    border: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #f18805;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: filter 400ms;
    margin-left: 12px;
}

#back:hover {
    filter: brightness(0.85);
}

#secret-page h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}

#files {
    width: 100%;
    padding: 0px 150px;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -100px;
    margin-bottom: 150px;
}

.file {
    border: 5px solid #061826;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 100px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.file:nth-of-type(1) {
    background-image: url(assets/APStatsFormula.jpg);
}

.file:nth-of-type(2) {
    background-image: url(assets/Cheatsheet.webp);
}

.file:nth-of-type(3) {
    background-image: url(assets/Cheet\ Sheet\ 2.webp);
}

.file:nth-of-type(4) {
    background-image: url(assets/Cheat\ Sheet\ 3.jpg);
}

.file:nth-of-type(5) {
    background-image: url(assets/Calculator\ Cheet\ Sheet.png);
}

.file:nth-of-type(6) {
    background-image: url(assets/Sampling\ Distributions\ Cheet\ Sheet.png);
}

.file-name {
    width: 100%;
    height: 75px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    transition: height 400ms;
}

.file:hover .file-name {
    height: 100%;
}

#force-answer {
    display: none;
    position: fixed;
    top: 20px;
    right: 50px;
    height: 40px;
    width: 200px;
    border: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #f18805;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: filter 400ms;
    margin-left: 12px;
}

#force-answer:hover {
    filter: brightness(0.85);
}

/* MEDIA QUERIES (HEIGHT) */

@media only screen and (max-height: 750px) {
    main
    {
        overflow-y: scroll;
    }

    .container {
        margin-top: 200px;
        margin-bottom: 75px;
    }
}

@media only screen and (max-height: 700px) {
    .container {
        margin-top: 300px;
    }
}

@media only screen and (max-height: 625px) {
    .container {
        margin-top: 400px;
    }
}

@media only screen and (max-height: 550px) {
    .container {
        margin-top: 450px;
    }
}

@media only screen and (max-height: 450px) {
    .container {
        margin-top: 500px;
    }
}

/* MEDIA QUERIES (WIDTH) */

@media only screen and (max-width: 1000px) {
    .container {
        width: 75%;
    }
}

@media only screen and (max-width: 775px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 675px) {
    .container {
        width: 100%;
        height: 100%;
        border: none;
        margin-bottom: 150px;
    }
}